LIBRETRANSLATE_ENABLED=false
LIBRETRANSLATE_URL=
LIBRETRANSLATE_TIMEOUT_MS=
LIBRETRANSLATE_RETRIES=
LIBRETRANSLATE_RETRY_DELAY_MS=
LIBRETRANSLATE_SOURCE_LANG=
LIBRETRANSLATE_CONCURRENCY=
LIBRETRANSLATE_MAX_PARALLEL_REQUESTS=
LIBRETRANSLATE_DESCRIPTION_CHUNK_SIZE=
LIBRETRANSLATE_RATE_LIMIT_COOLDOWN_MS=
LIBRETRANSLATE_MAX_RATE_LIMIT_COOLDOWN_MS=
LIBRETRANSLATE_API_KEY=
