LIBRETRANSLATE_ENABLED=false
LIBRETRANSLATE_URL=http://127.0.0.1:5001
LIBRETRANSLATE_TIMEOUT_MS=30000
LIBRETRANSLATE_RETRIES=2
LIBRETRANSLATE_RETRY_DELAY_MS=1000
LIBRETRANSLATE_CONCURRENCY=1
LIBRETRANSLATE_MAX_PARALLEL_REQUESTS=1
LIBRETRANSLATE_DESCRIPTION_CHUNK_SIZE=6000
# Optional for a remote LibreTranslate instance
LIBRETRANSLATE_API_KEY=
